<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Gabe Durazo</title>
        <link rel="stylesheet" type="text/css" href="/css/styles.css" />
    </head>
    <body>
        <div id="main-container">
            <div id="sidebar">
                <h1>Gabe Durazo . com</h1>
                <div id="tagline">make it so</div>
                <img src="/images/me.jpg" />
                <div id="navigation">
                    <ul>
                        <li><a href="/index.html">Home</a></li>
                        <li><a href="/posts.html">Blog</a></li>
                        <li><a href="/me.html">Me</a></li>
                        <li><a href="/projects.html">Projects</a></li>
                    </ul>
                </div>
            </div>
    
            <div id="content-container">
                $body$
            </div>
        
        </div>
    </body>
</html>
