<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Gabe Durazo - Gabriel Durazo</title>
        <link rel="stylesheet" type="text/css" href="/css/styles.css" />
        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-9796114-1']);
            _gaq.push(['_trackPageview']);

            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>
    </head>
    <body>
        <div id="main-container">
            <div id="sidebar">
                <h1>Gabe Durazo . com</h1>
                <img src="/images/me250.jpg" />
                <div id="navigation">
                    <ul>
                        <li><a href="/index.html">Home</a></li>
                        <li><a href="/posts.html">Blog</a></li>
                        <li><a href="/me.html">About Me</a></li>
                    </ul>
                </div>
                <div id="tagline">make it so</div>
            </div>
    
            <div id="content-container">
                $body$
            </div>
        
        </div>
    </body>
</html>
