@import base

#main-container
	max-width: 900px
	margin-top: 30px
	margin-left: 30px

#sidebar
	width: 250px
	float: left
	+horizontal-borders()
	h1
		font-family: "LatinModernRomanCaps"
		font-size: 1.25em
		text-align: center
	#tagline
		text-align: center
		font-size: 0.75em
	img
		display: block
		margin-left: auto
		margin-right: auto
		+leader()
		+trailer()

#content-container
	width: 600px
	margin-left: 280px
	padding-left: 50px
p
	+leader()

.post
	h1
		font-size: 1.25em
		font-family: "LatinModernRomanBold"
	.post-date-info
		color: #888
	h2
		font-family: "LatinModernRomanBold"
		+leader()
	ul
		list-style-type: disc
	ol
		list-style-type: decimal

.post-item
	+trailer()
	.post-item-date
		font-size: 0.75em
		color: #888
		float: left
		text-align: right
		width: 7em
	.post-item-contents
		margin-left: 6em

#recent-posts
	h1
		font-size: 1.25em
		font-family: "LatinModernRomanBold"

#about-snippet
	+leader()
	h1
		font-size: 1.25em
		font-family: "LatinModernRomanBold"

#connect
	h1
		font-size: 1.25em
		font-family: "LatinModernRomanBold"
		+trailer()

#briefbio
	h1
		font-size: 1.25em
		font-family: "LatinModernRomanBold"
		+leader()
